<li *ngIf="pokemon" class="mb-4 shadow bg-blue-800 rounded relative inline-block m-4">
    <span *ngIf="page === 'catalogue'; then catching else freeing"></span>
    <ng-template #catching>
        <app-catch-button [pokemonId]="pokemon.id"></app-catch-button>
    </ng-template>
    <ng-template #freeing>
        <app-free-button [pokemonId]="pokemon.id"></app-free-button>
    </ng-template>
    <section class="p-4">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-40">
    </section>
    <section class="p-4">
        <span class="text-xl"> {{ pokemon.name }}</span>
    </section>
</li>
