<nav class="bg-slate-800 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    
    <span class="font-bold"> Pokemon Trainer </span>

    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="m-3">
                <a routerLink="/pokemon">Pokemon Catalogue</a>
            </li>
            <li class="m-3">
                <a routerLink="/profile">Profile</a>
            </li>
            <li class="m-3">
                <button (click)="handleLogout()">log out</button>
            </li>
        </ul>
    </ng-container>
    
</nav>
