<header class="container mx-auto p-4">
    <h1 class="text-3xl">Trainer: {{ username }}</h1>
</header>

<main class="container mx-auto p-4">
    <button (click)="onRemoveAllClick()" class="border-2 rounded bg-yellow-600 p-2 m-4">remove all pokemon</button>
    <h4 class= text-xl>You have {{ pokemon.length }} pokemon</h4>
    <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
</main>