<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    
    <fieldset class="mb-3 mt-3">
        <label for="username" class="block my-2">Username</label>
        <input type="text"
            ngModel #username="ngModel"
            name="username"
            required
            minlength="3"
            maxlength="40"
            pattern=".*\S.*\S.*\S.*"
            id="username"
            type="text"
            class="border border-slate-300 p-2 rounded w-full text-slate-700 form-control" 
            placeholder="john doe" />
    </fieldset>

    <button [disabled]="loginForm.invalid" type="submit" class="bg-green-600 p-2 rounded disabled:bg-yellow-500">Login</button>
    <p *ngIf="loading">loading...</p>

    <div *ngIf="username.errors && (username.dirty || username.touched)" class="bg-yellow-500 m-3 p-1 rounded">
        <p *ngIf="username.errors['required']">this field is required</p>
        <p *ngIf="username.errors['minlength']">username is too short (min. 3 characters)</p>
        <p *ngIf="username.errors['pattern']">username must contain at least three non-space characters</p>
    </div>

</form>