<aside class="absolute bottom-4 right-4">
    <ng-container *ngIf="!loading; else catching">
        <button (click)="onCatchClick()" class="border-2 rounded bg-yellow-500 p-1">
            <span *ngIf="isCatched; then catched else notCatched"></span>
            <ng-template #catched> <img src="./assets/fadedPokeball.png" alt="already catched" class="mx-1 w-7">
            </ng-template>
            <ng-template #notCatched> <img src="./assets/pokeball.png" alt="catch" class="mx-1 w-7"></ng-template>
        </button>
    </ng-container>
    <ng-template #catching>
        <button class="border-2 rounded bg-yellow-500 p-1">
            <img src="./assets/openPokeball.png" alt="catching pokemon.." class="mx-1 w-7">
        </button>
    </ng-template>

</aside>