<aside class="absolute bottom-4 right-4">
    <ng-container *ngIf="!loading; else freeing">
        <button (click)="onFreeClick()" class="border-2 rounded bg-yellow-500 p-1">
            <img src="./assets/openPokeball.png" alt="catched pokemon.." class="mx-1 w-7">
        </button>
    </ng-container>
    <ng-template #freeing>
        <button class="border-2 rounded bg-yellow-500 p-1">
            <img src="./assets/fadedPokeball.png" alt="freeing..." class="mx-1 w-7">
        </button>
    </ng-template>
</aside>